body {
  margin: 0;
}
.container {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  color: #025a6e;
  background-color: #d8f0f2;
  line-height: 100%;
  font-size: 1.2em;
}
header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2px;
}
.foto img {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin: 10px;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, h4{
  margin: 5px 0px 10px 0px;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.social-media {
  display: flex;
  width: 20em;
  justify-content: space-evenly;
}
.social-media-content {
  justify-content: center;
  align-items: center;
  fill: #025a6e;
}
a {
  color: #025a6e;
}
.special-logo {
  display: flex;
  border: 5px solid;
  width: 8em;
  justify-content: space-evenly;
}
.special-logo-content {
  border: 5px solid;
}
.box {
  display: flex;
  align-items: center;
  margin: 25px;
  padding: 5px;
  width: 55vw;
  background-color: antiquewhite;
  box-shadow: 2px 2px 6px;
  border-radius: 5px;
}
.judul {
  display: flex;
  padding: 10px;
  margin: 2px;
  justify-content: center;
  width: 30vw;
}
.isi {
  padding: 12px;
  width: 75vw;
  box-sizing: border-box;
  text-align:justify;  
}
.portfolio{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.isi img{
  width: 8em;
  height: 8em;
  border-radius: 15px;
  flex-direction: column;
  margin: 5px;
}
footer {
  background-color: #025a6e;
  color: antiquewhite;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
input[type=text], select {
  width: 95%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #025a6e;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f8f8f8;
}
textarea {
  width: 95%;
  height: 120px;
  padding: 12px 0px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #025a6e;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
input[type=submit] {
  background-color: #025a6e;
  color: #d8f0f2;
  padding: 10px 20px;
  margin: 0px 0px 10px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: chocolate;
}